$timepickerWidth: 330px;
$timepickerHeight: 225px;

.timepicker {
  .custom-scrollbar {
    display: none;
  }
  .navbar-button--zoom {
    display: none;
  }
  > div > div {
    &>.navbar-button--tight {
      display: none;
    }
  }
}
.timepicker > div > div > div > div {
  margin-left: 0px;
  width: $timepickerWidth;
  height: $timepickerHeight;
  > div:first-child {
    width: 100%;
    > div:first-child > div:last-child {
      right: $timepickerWidth + 10px;
      &::after {
        height: $timepickerHeight;
      }
    }
    > div:nth-child(2) {
      display: none;
    }
  }
}
// careful: it might break something
// ".panel-content" div is outside the panel
.panel-content {
  overflow: inherit;
}
.chartwerk-container {
  height: 90%;
  &.clickable {
    cursor: pointer;
  }
}
.chartwerk-warning {
  color: yellow;
  font-size: 24px;
  position: absolute;
  bottom: 0px;
}
.timeformat-selector {
  margin-left: 4px;
}
.icon-config-wrapper {
  margin-bottom: 16px;
}
