<div class="gf-form">
  <label class="gf-form-label query-keyword width-12"> Min </label>

  <input
    ng-if="!ctrl.isUsingMetricForGaugeMinValue"
    placeholder="auto"
    type="number"
    class="gf-form-input width-12"
    ng-model="ctrl.minValue"
    ng-blur="ctrl.onConfigChange()"
  >
  <div ng-if="ctrl.isUsingMetricForGaugeMinValue" class="gf-form-select-wrapper width-12">
    <select
      class="gf-form-input"
      ng-model="ctrl.minValueGaugeMetric"
      ng-options="metric for metric in ctrl.metricNames"
      ng-change="ctrl.onConfigChange()"
    ></select>
  </div>

  <label class="gf-form-label query-keyword width-6">
    <i class="fa fa-info" bs-tooltip="'Enable to select a metric with dynamic value'"></i>
    &nbsp; Use metric
  </label>

  <gf-form-switch
    class="gf-form"
    label=''
    checked="ctrl.isUsingMetricForGaugeMinValue"
  ></gf-form-switch>
</div>

<div class="gf-form">
  <label class="gf-form-label query-keyword width-12"> Max </label>
  <input
    ng-if="!ctrl.isUsingMetricForGaugeMaxValue"
    placeholder="auto"
    type="number"
    class="gf-form-input width-12"
    ng-model="ctrl.maxValue"
    ng-blur="ctrl.onConfigChange()"
  >
  <div ng-if="ctrl.isUsingMetricForGaugeMaxValue" class="gf-form-select-wrapper width-12">
    <select
      class="gf-form-input"
      ng-model="ctrl.maxGaugeValueMetric"
      ng-options="metric for metric in ctrl.metricNames"
      ng-change="ctrl.onConfigChange()"
    ></select>
  </div>
  <label class="gf-form-label query-keyword width-6">
    <i class="fa fa-info" bs-tooltip="'Enable to select a metric with dynamic value'"></i>
    &nbsp; Use metric
  </label>
  <gf-form-switch
    class="gf-form"
    label=''
    checked="ctrl.isUsingMetricForGaugeMaxValue"
  ></gf-form-switch>
</div>

<br />

<h5 class="section-heading">Value Format</h5>
<div class="gf-form">
  <label class="gf-form-label query-keyword width-12">
    Unit
  </label>
  <unit-picker class="width-12" onChange="ctrl.setUnit.bind(ctrl)" value="ctrl.unit"></unit-picker>
</div>

<div class="gf-form">
  <label class="gf-form-label query-keyword width-12">
    Decimals
    <i class="fa fa-info" bs-tooltip="'Override automatic decimal precision'"></i>
  </label>
  <input
    type="number"
    class="gf-form-input width-12"
    placeholder="auto"
    data-placement="right"
    ng-model="ctrl.valueDecimals"
    ng-blur="ctrl.onConfigChange()"
  />
</div>

<br/>

<h5 class="section-heading">Link</h5>
<div class="gf-form">
  <label class="gf-form-label query-keyword width-12">
    URL
  </label>
  <input
    type="text"
    class="gf-form-input width-12"
    data-placement="right"
    ng-model="ctrl.gaugeLink"
    ng-blur="ctrl.onConfigChange()"
  />
</div>

<br/>

<h5 class="section-heading">Icons</h5>
<div class="icon-config-wrapper" ng-repeat="(idx, icon) in ctrl.gaugeIcons track by $index">
  <div class="gf-form">
    <label class="gf-form-label query-keyword width-6"> Icon Position </label>
    <select
      class="gf-form-input width-8"
      ng-model="icon.position"
      ng-options="position for position in ctrl.iconPositions"
      ng-change="ctrl.onConfigChange()"
    ></select>

    <label class="gf-form-label query-keyword width-6"> URL </label>
    <input
      type="text"
      class="gf-form-input width-8"
      data-placement="right"
      ng-model="icon.url"
      ng-blur="ctrl.onConfigChange()"
    />

    <label class="gf-form-label query-keyword width-6">
      Size
      <i class="fa fa-info" bs-tooltip="'Icon size in pixels'"></i>
    </label>
    <input
      type="number"
      class="gf-form-input width-6"
      ng-model="icon.size"
      ng-blur="ctrl.onConfigChange()"
    />

    <button
      ng-click="ctrl.deleteGaugeIconByIdx(idx)"
      class="query-editor-row__action"
      bs-tooltip="'Remove icon'"
    >
      <a class="pointer">
        <i class="fa fa-fw fa-trash"></i>
      </a>
    </button>
  </div>

  <div class="gf-form" ng-repeat="(idx, condition) in icon.conditions track by $index">
    <label class="gf-form-label query-keyword width-6"> Condition </label>
    <select
      class="gf-form-input width-12"
      ng-model="icon.metric"
      ng-options="metric for metric in ctrl.metricNames"
      ng-change="ctrl.onConfigChange()"
    ></select>
    <select
      class="gf-form-input width-6"
      ng-model="icon.conditions[idx]"
      ng-options="condition for condition in ctrl.conditions"
      ng-change="ctrl.onConfigChange()"
    ></select>
    <input
      class="gf-form-input width-6"
      type="number"
      ng-model="icon.values[idx]"
      ng-blur="ctrl.onConfigChange()"
    >
    <button
      ng-click="ctrl.deleteCondition(icon, idx)"
      class="query-editor-row__action"
      bs-tooltip="'Remove condition'"
    >
      <a class="pointer">
        <i class="fa fa-fw fa-trash"></i>
      </a>
    </button>
  </div>
  <div class="gf-form">
    <button class="btn btn-secondary width-12" ng-click="ctrl.addCondition(icon)">
      <i class="fa fa-plus"></i>
      &ensp;Add Condition
      <tip>Conditions are checked with AND operator</tip>
    </button>
  </div>
</div>

<div class="gf-form">
  <button class="btn btn-secondary width-12" ng-click="ctrl.addGaugeIcon()">
    <i class="fa fa-plus"></i>
    &ensp;Add Icon
  </button>
</div>
