<div class="gf-form">
  <label class="gf-form-label query-keyword width-12"> Max value </label>
  <input
    placeholder="auto"
    type="number"
    class="gf-form-input width-12"
    ng-model="ctrl.maxValue"
    ng-blur="ctrl.onConfigChange()"
  >
</div>

<br />
<h5 class="section-heading">Value Label</h5>
<div class="gf-form">
  <label class="gf-form-label query-keyword width-12">
    Decimals
    <i class="fa fa-info" bs-tooltip="'Override automatic decimal precision'"></i>
  </label>
  <input
    type="number"
    class="gf-form-input width-12"
    placeholder="auto" data-placement="right"
    ng-model="ctrl.valueDecimals"
    ng-blur="ctrl.onConfigChange()"
  />
</div>
