<div class="gf-form">
  <label class="gf-form-label query-keyword width-12"> Upper bound format</label>
  <input
    type="text"
    class="gf-form-input width-12"
    ng-model="ctrl.upperBound"
    ng-blur="ctrl.onConfigChange()"
  >
</div>

<div class="gf-form">
  <label class="gf-form-label query-keyword width-12"> Lower bound format</label>
  <input
    type="text"
    class="gf-form-input width-12"
    ng-model="ctrl.lowerBound"
    ng-blur="ctrl.onConfigChange()"
  >
</div>

<div class="gf-form" ng-if="ctrl.visualization === 'line'">
  <label class="gf-form-label query-keyword width-12"> Mode </label>
  <div class="gf-form-select-wrapper">
    <select class="gf-form-input width-12"
      ng-model="ctrl.lineMode"
      ng-options="mode for mode in ctrl.mode"
      ng-change="ctrl.onConfigChange()"
    ></select>
  </div>
</div>

<gf-form-switch
  class="gf-form"
  label="Display warnings"
  label-class="query-keyword width-12"
  checked="ctrl.shouldDisplayWarnings"
/>
