<div class="gf-form">
  <label class="gf-form-label query-keyword width-12"> Visualization </label>
  <div class="gf-form-select-wrapper">
    <select class="gf-form-input width-12"
      ng-model="ctrl.visualization"
      ng-options="visualization for visualization in ctrl.visualizationTypes"
      ng-change="ctrl.onConfigChange()"
    />
  </div>
</div>

<div class="gf-form" ng-if="ctrl.visualization === 'line'">
  <label class="gf-form-label query-keyword width-12"> Mode </label>
  <div class="gf-form-select-wrapper">
    <select class="gf-form-input width-12"
      ng-model="ctrl.lineMode"
      ng-options="mode for mode in ctrl.mode"
      ng-change="ctrl.onConfigChange()"
    />
  </div>
</div>

<div class="gf-form">
  <gf-form-switch
    class="gf-form"
    label="Display warnings"
    label-class="query-keyword width-12"
    checked="ctrl.shouldDisplayWarnings"
  />
</div>

